@model GerenciadorDespesas.ViewsModels.EstatisticasViewModel

<div>
    <p>Despesa cadastradas : @Model.QuantidadeDespesas</p>
    <p>Menor despesa: @Model.MenorDespesa</p>
    <p>Maior despesa: @Model.MaiorDespesa</p>
</div>